<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
	<style>
		.pos {vertical-align: sub; color: blue; font-size: 70%;}
		.result {font-size: 24px;}
	</style>
</head>
<body>
	<p>Этот сайт написала <b>Эля</b> в качестве примера.</p>
    <p>Исходный код к этому сайту находится тут - <b><a href="https://github.com/elmiram/2017learnpython/tree/master/mystem_site">https://github.com/elmiram/2017learnpython/tree/master/mystem_site</a></b>.</p>
    <p>На этом сайте можно делать разные вещи:</p>
    <ul>
        <li><a href="/pos">Получить частеречный разбор текста</a></li>
        <li><a href="/cities">Получить список родных городов участников открытой группы ВК </a></li>
    </ul>

</body>
</html>