<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Части речи слов</title>
	<style>
		.pos {vertical-align: sub; color: blue; font-size: 70%;}
		.result {font-size: 24px;}
	</style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ru'});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Часть речи');
        data.addColumn('number', 'Количество');
        data.addRows([
          {% for pos, num in data.items() %}
              ['{{ pos }}', {{ num }}],
          {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'Части речи',
                       'width':600,
                       'height':300,
                        'legend': { position: "none" }};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
<a href="/">На главную.</a>
	<form method='post'>
		<h1>Ваш текст:</h1>
		<textarea rows="4" cols="50" name="text">{{ input }}</textarea>
		<br>
		<input type="submit" value="Разобрать">
	</form>
	{% if text %}
        <div id="chart_div"></div>
		<h1>Разбор:</h1>
		<p class="result"> {{ text | safe}}</p>
	{% endif %}

</body>
</html>